<form class="form" (ngSubmit)="addCompany()">
  <div class="input-group input-group-sm mb-3">
    <mat-form-field>
      <input matInput placeholder="Company Name" id="CompanyName" name="CompanyName" [(ngModel)]="model.name">
    </mat-form-field>
    <span style="width: 10px"> </span>
    <mat-form-field>
      <mat-select placeholder="Nationality" class="dropdown-style" id="Nationality" [(ngModel)]="model.nationality"
                  name="nationality">
        <mat-option class="ui dropdown" *ngFor="let nationality of nationalityList"
                    [(value)]="nationality['id']">{{ nationality['name'] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Filed Name" id="FiledName" name="FiledName" [(ngModel)]="model.field">
    </mat-form-field>
    <span style="width: 10px">  </span>

    <mat-form-field>
      <mat-select placeholder="Business Type" class="dropdown-style" id="BusinessType"
                  [(ngModel)]="model.businessTypeId" name="business">
        <mat-option class="ui dropdown" *ngFor="let business of businessTypeList"
                    [(value)]="business.id">{{ business.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span style="width: 10px">  </span>

    <mat-form-field>
      <input matInput type="tel" placeholder="Phone" id="Phone" name="Phone" [(ngModel)]="model.phone">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" id="email" name="Email" [(ngModel)]="model.email">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput type="url" placeholder="Website" id="website" name="Website" [(ngModel)]="model.website">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Address" id="address" name="Address" [(ngModel)]="model.address">
    </mat-form-field>

  </div>
  <div class="input-group input-group-sm mb-3">
    <mat-form-field>
      <textarea matInput placeholder="Company Description" id="description" name="Description"
                [(ngModel)]="model.description">{{model.description}}</textarea>
    </mat-form-field>
    <span style="width: 10px">  </span>
  </div>
  <button type="submit" class="btn pur-btns margin-small" id="addNewCompany">Add New Company
  </button>
  <!--<h1 *ngIf="this.response">{{this.response.name}}</h1>-->
</form>
