
.purchase-body {
  margin-top: 60px;
  /*padding : 30px;*/
  /*direction: rtl;*/
  /*!*text-align: left;*!*/
  /*!*float: right;*!*/
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.purple-button {
  background-color: #9176ec;
  padding: 1px 10px;
  /*border-radius: 10px; */
}

.pur-btns {
  padding: 1px 10px;
  /*border-radius: 10px; */
}

.margin-small {
  margin: 5px;
}

.store-group {
  margin-bottom: 10px;
  /*margin : 70px 10px 10px 10px;*/
  /*border: #74CFEC solid 1px;*/

}

.shop-button:hover {
  transition: transform 0.3s;
  /*background-color: #FFFFFF;*/
  transform: translate(2px, 2px);

}

.centered {
  /*padding: 5px;*/
  /*right: 5px;*/
  margin: 0 auto;
  text-align: center;
  /*border: #B0B0B0 solid 1px;*/

}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: 0;
}

.set-border {
  border: #B0B0B0 solid 1px;
}

.in-list {
  display: none;
}

.zero-border {
  border: 0;
}

.box-image {
  width: 20px;
}

.half-width {
  width: 50%;
}

.buttonInside {
  position: relative;
  margin-bottom: 10px;
}
#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.dropdown-style {
  font-size: small;
  color: dimgray
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
 p {
   color: red;
   margin: 5px;
   cursor: pointer;
 }
p:hover {
  background: yellow;
}
/*!* Table CSS *!*/

/*.form-placeholder {*/
/*position:absolute;*/
/*left:0;*/
/*top:0;*/
/*transition: 0.2s;*/
/*transition-timing-function: ease;*/
/*transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);*/
/*opacity:0.5;*/
/*}*/

/*input:focus + span, input:not(:placeholder-shown) + span {*/
/*opacity:1;*/
/*transform: scale(0.75) translateY(-100%) translateX(-30px);*/
/*}*/

/*!*Button CSS*!
.btn-6d {
  color: #FFFFFF;
  background-color: #05bb65;
}

.btn-6d:hover {
  color:#05bb65;
  border-color: #05bb65;
}
.btn-success:hover {
  color:#05bb65;
  border-color: #05bb65;

}
.btn-success:focus {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

@keyframes my-rubber-band {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.my-rubber-band {
  animation-name: my-rubber-band;
}


!*CSS for BounceIn button *!

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  30%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  60%{
    opacity: 1;
    transform: scale(0.89);
  }
  80%{
    opacity: 0.5;
    transform: scale(0.89);
  }
  100%{
    display: none;
    opacity: 0;
    transform: scale(0.5) translate3d(0,0,0);
  }
}
*/
