<div class="container-fluid  purchase-body">
  <div class="card text-center store-group">
    <div class="card-header">
      Select the store
    </div>
    <div class="card-body">
      <div class="btn-group-sm col-12   ">
        <button type="button" class="btn pur-btns margin-small" id="outOfList1">Bunnings</button>
        <button type="button" class="btn pur-btns btn-primary margin-small  " id="outOfList2">Dominos</button>
        <button type="button" class="btn pur-btns btn-secondary margin-small  " id="outOfList3">Briscos</button>
        <button type="button" class="btn pur-btns btn-success margin-small  " id="outOfList4">Countdown</button>
        <button type="button" class="btn pur-btns btn-info margin-small  " id="outOfList5">VegiMarket</button>
        <button type="button" class="btn pur-btns btn-warning margin-small  " id="outOfList6">Pak n Save</button>
        <button type="button" class="btn pur-btns btn-danger margin-small  " id="outOfList7">Warehouse</button>
        <button type="button" class="btn pur-btns purple-button margin-small  " id="outOfList8">Farmers</button>
        <!--<button type="button" class="btn pur-btns  btn-6 btn-6d">btn-6 btn-6d</button>-->

      </div>
    </div>
    <div class="card-footer text-muted">

      <div class="btn-group-sm col-12">
        <span class="align-baseline float-sm-right">Selected : </span>
        <button type="button" class="btn pur-btns margin-small float-sm-right  in-list" id="intoList1">Bunnings</button>
        <button type="button" class="btn pur-btns btn-primary margin-small float-sm-right in-list" id="intoList2">
          Dominos
        </button>
        <button type="button" class="btn pur-btns btn-secondary margin-small float-sm-right in-list" id="intoList3">
          Briscos
        </button>
        <button type="button" class="btn pur-btns btn-success margin-small float-sm-right in-list" id="intoList4">
          Countdown
        </button>
        <button type="button" class="btn pur-btns btn-info margin-small float-sm-right in-list" id="intoList5">
          VegiMarket
        </button>
        <button type="button" class="btn pur-btns btn-warning margin-small float-sm-right in-list" id="intoList6">Pak n
          Save
        </button>
        <button type="button" class="btn pur-btns btn-danger margin-small float-sm-right in-list" id="intoList7">
          Warehouse
        </button>
        <button type="button" class="btn pur-btns purple-button margin-small float-sm-right in-list" id="intoList8">
          Farmers
        </button>

        <!--<button type="button" class="btn pur-btns  btn-6 btn-6d in-list">btn-6 btn-6d</button>-->

      </div>
    </div>
  </div>
  <div class="card store-group">
    <div class="card-body" style="text-align: center">
      <h3>Scrollable with Variable Width</h3>
      <p-table [columns]="cols" [value]="purchaseList" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-purchase let-columns="columns">
          <tr>
            <td pEditableColumn *ngFor="let col of columns" class="ui-resizable-column">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="purchase[col.field]" required>
                </ng-template>
                <ng-template pTemplate="output">
                   {{purchase[col.field]}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="card store-group">
    <div class="card-body" style="text-align: center">
      <p-table [value]="purchaseList" >
        <ng-template pTemplate="header">
          <tr>
            <th>id</th>
            <th>catId</th>
            <th>price</th>
            <th>Date</th>
            <th>Comment</th>
          </tr>
          <!--<tr *ngFor="let purchase of purchaseList">-->
            <!--<td>{{purchase.amount}}</td>-->
          <!--</tr>-->
        </ng-template>

        <ng-template pTemplate="body" let-purchase>
          <tr>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="purchase.purchaseId">
                </ng-template>
                <ng-template pTemplate="output">
                  {{purchase.purchaseId}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="purchase.categoryId" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{purchase.categoryId}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="purchase.price">
                </ng-template>
                <ng-template pTemplate="output">
                  {{purchase.price}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="purchase.date">
                </ng-template>
                <ng-template pTemplate="output">
                  {{purchase.date}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input type="text" [(ngModel)]="purchase.comment">
                </ng-template>
                <ng-template pTemplate="output">
                  {{purchase.comment}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
  <!-- <div class="card store-group">
     <div class="card-body">
       <div class="row text-right  ">
         <div class="col-sm-6">
           <div class="card zero-border" >
             <div class="card-body">
               <div class="form-group row">
                 <label for="example-date-input" class="col-3 col-form-label">Item Name :</label>
                 <div class="col-9">
                   <input class="form-control" type="text" value="" id="item-name">
                 </div>

               </div>
             </div>
           </div>
         </div>
         <div class="col-sm-2">
           <div class="card zero-border" >
             <div class="card-body">
               <div class="form-group row">
                 <label for="item-price" class="col-6 col-form-label" style="min-width:50%;">Price</label>
                 <div class="col-6">
                 <input class="form-control" type="text" value=" " id="item-price">
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="card zero-border" >
             <div class="card-body">
               <div class="form-group row">
                 <label for="itemCategory" class="col-4 col-form-label">Category</label>
                 <div class="col-8">
                 <select class="form-control" id="itemCategory">
                 <option>Fruit</option>
                 <option>Oil</option>
                 <option>Diary</option>
                 <option>Bread</option>
                 <option>Vegetables</option>
               </select>
               </div>
             </div>
             </div>
           </div>
         </div>
       </div>
       <div class="row text-right  ">
         <div class="col-sm-6">
           <div class="card zero-border" >
             <div class="card-body">
               <div class="form-group row">
                 <label for="example-date-input" class="col-3 col-form-label">Date</label>
                 <div class="col-9">
                   <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="col-sm-6">
           <div class="card zero-border" >
             <div class="card-body">
                    <button type="button" class="btn btn-info">Add Purchase</button>
              </div>
           </div>
         </div>
       </div>
     </div>
   </div>-->


  <div class="card store-group">
    <div class="card-body">
      <div class="row text-right  ">
        <div class="col-sm-6">
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card store-group">
    <div class="card-body">
      <div class="row ">
        <div class="container">
          <table class="table table-hover">

            <thead>

            <tr class="table-danger">

              <th>Name</th>

              <th>Amount</th>

              <th>Date</th>
              <th>Price</th>

            </tr>

            </thead>

            <tbody>

            <tr>

              <th scope="row" class="table-primary">Olive Oil Select Virgin</th>
              <th scope="row" class="table-primary">1</th>

              <td>2018-11-25 12:13:00</td>

              <td>$11</td>

            </tr>

            <tr>

              <th scope="row" class="table-secondary">Milk 3L Home Brand</th>
              <th scope="row">1</th>

              <td class="table-secondary">2018-11-25 12:15:00</td>

              <td>$10</td>

            </tr>

            <tr>
              <th scope="row">Mashrom</th>
              <th scope="row"> 1kg</th>

              <td class="table-success">2018-11-25 12:16:00</td>

              <td>$21</td>


            </tr>

            <tr>
              <th scope="row">Wholemeal Bread HomeBrand</th>
              <th scope="row">3</th>

              <td> 2018-11-25 12:26:00</td>

              <td class="table-warning">$3</td>


            </tr>

            <tr>
              <th scope="row" class="table-info">Tomato Sliced</th>
              <th scope="row">1</th>

              <td> 2018-11-25 12:36:00</td>

              <td>$2</td>


            </tr>


            <tr>

              <th colspan="3" scope="row" class="table-dark"> Total</th>


              <td class="table-dark">$47</td>

            </tr>


            </tbody>

          </table>


        </div>
      </div>
    </div>
  </div>

</div>

