<div class="container-fluid  purchase-body">
  <div class="card text-center store-group">
    <div class="card-header">
      Select the store
    </div>
    <div class="card-body">
      <div class="btn-group-sm col-12   ">
        <button type="button" class="btn pur-btns shop-button margin-small" id="outOfList1">Bunnings</button>
        <button type="button" class="btn pur-btns shop-button btn-primary margin-small  " id="outOfList2">Dominos
        </button>
        <button type="button" class="btn pur-btns shop-button btn-secondary margin-small  " id="outOfList3">Briscos
        </button>
        <button type="button" class="btn pur-btns shop-button btn-success margin-small  " id="outOfList4">Countdown
        </button>
        <button type="button" class="btn pur-btns shop-button btn-info margin-small  " id="outOfList5">VegiMarket
        </button>
        <button type="button" class="btn pur-btns shop-button btn-warning margin-small  " id="outOfList6">Pak n Save
        </button>
        <button type="button" class="btn pur-btns shop-button btn-danger margin-small  " id="outOfList7">Warehouse
        </button>
        <button type="button" class="btn pur-btns shop-button purple-button margin-small  " id="outOfList8">Farmers
        </button>
        <!--<button type="button" class="btn pur-btns  btn-6 btn-6d">btn-6 btn-6d</button>-->

      </div>
    </div>
    <div class="card-footer text-muted">

      <div class="btn-group-sm col-12">
        <span class="align-baseline float-sm-right">Selected : </span>
        <button type="button" class="btn pur-btns shop-button margin-small float-sm-right  in-list" id="intoList1">
          Bunnings
        </button>
        <button type="button" class="btn pur-btns shop-button btn-primary margin-small float-sm-right in-list"
                id="intoList2">
          Dominos
        </button>
        <button type="button" class="btn pur-btns shop-button btn-secondary margin-small float-sm-right in-list"
                id="intoList3">
          Briscos
        </button>
        <button type="button" class="btn pur-btns shop-button btn-success margin-small float-sm-right in-list"
                id="intoList4">
          Countdown
        </button>
        <button type="button" class="btn pur-btns shop-button btn-info margin-small float-sm-right in-list"
                id="intoList5">
          VegiMarket
        </button>
        <button type="button" class="btn pur-btns shop-button btn-warning margin-small float-sm-right in-list"
                id="intoList6">Pak n
          Save
        </button>
        <button type="button" class="btn pur-btns shop-button btn-danger margin-small float-sm-right in-list"
                id="intoList7">
          Warehouse
        </button>
        <button type="button" class="btn pur-btns shop-button purple-button margin-small float-sm-right in-list"
                id="intoList8">
          Farmers
        </button>

        <!--<button type="button" class="btn pur-btns  btn-6 btn-6d in-list">btn-6 btn-6d</button>-->

      </div>
    </div>
  </div>

  <div class="card store-group">
    <div class="card-body" style="text-align: center">
      <!--{{testVar}} <input type="text" [(ngModel)]="testVar">-->
      <table class="table  ">
        <tbody>
        <tr>
          <td>
            <form class="form" (ngSubmit)="onSubmit()" >
              <div class="input-group input-group-sm mb-3">
                <input type="text" placeholder="Name of product" name="name" [(ngModel)]="model.name" class="form-control" id="pName" aria-label="Small"
                       aria-describedby="productName">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="productName"><img src="../../assets/images/box.svg" class="box-image"/> </span>
                </div>
                <span style="width: 10px">  </span>
                <input type="text" placeholder="Price" name="price" [(ngModel)]="model.price"  class="form-control" aria-label="Small" aria-describedby="purchasePrice">
                <div class="input-group-prepend" >
                  <span class="input-group-text  " id="purchasePrice"><img src="../../assets/images/coins.svg"
                                                                           class="box-image"/> </span>
                </div>
                <span style="width: 10px">  </span>
                <input type="text" placeholder="Amount" name="amount" [(ngModel)]="model.amount" class="form-control" aria-label="Small"
                       aria-describedby="purchaseAmount">
                <div class="input-group-prepend">
                  <span class="input-group-text  " id="purchaseAmount"><img src="../../assets/images/plank.svg"
                                                                            class="box-image"/> </span>
                </div>
                <div class="input-group-prepend">
                  <select class="dropdown-style" id="units" required [(ngModel)]="model.unitId" name="unit" >
                    <option  [ngValue]="undefined" disabled hidden selected> Unit </option>
                    <option class="ui dropdown" *ngFor="let unit of unitList" [ngValue]="unit.unitId">{{ unit.name }}</option>
                  </select>
                 <!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Unit
                  </button>-->
                  <span class="input-group-text  " id="pUnit"> <img src="../../assets/images/ruler.svg"
                                                                    class="box-image"/></span>
                 <!-- <div class="dropdown-menu dropdown-style" >
                    <a class="dropdown-item dropdown-style" href="#">Number<img src="../../assets/images/Numbers.svg"
                                                                 class="box-image"/></a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-style" href="#"><img src="../../assets/images/weight-tool.svg"
                                                           class="box-image"/> Kg</a>
                    <a class="dropdown-item dropdown-style" href="#">Num</a>
                    <a class="dropdown-item dropdown-style" href="#">Meter</a>
                  </div>-->
                </div>
                <span style="width: 10px">  </span>
                <div class="input-group-prepend">
                    <select class="dropdown-style" id="shopList" required [(ngModel)]="model.sellerId" name="sellectSeller" >
                      <option  [ngValue]="undefined" disabled hidden selected> Shop </option>
                      <option class="ui dropdown" *ngFor="let seller of sellerList" [ngValue]="seller.sellerId">{{ seller.name }}</option>
                    </select>
                  <span class="input-group-text  " id="pStore"> <img src="../../assets/images/shop.svg"
                                                                     class="box-image"/></span>
             <!--     <div class="dropdown-menu">
                    <a *ngFor="let seller of sellerList"  class="dropdown-item" href="#">{{seller.name }} <img src="../../assets/images/Numbers.svg"
                                                                    class="box-image"/></a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><img src="../../assets/images/weight-tool.svg"
                                                           class="box-image"/> Warehouse</a>
                    <a class="dropdown-item" href="#">Briscose</a>
                    <a class="dropdown-item" href="#">Bunnings</a>
                    <a class="dropdown-item" href="#">Farmers</a>
                    <a class="dropdown-item" href="#">Pak n Save</a>
                    <a class="dropdown-item" href="#">Dominos</a>
                    <a class="dropdown-item" href="#">Pizza Hut</a>
                    <a class="dropdown-item" href="#">KFC</a>
                    <a class="dropdown-item" href="#">BurgerKing</a>
                  </div>-->
                </div>
              </div>
              <button type="submit" class="btn pur-btns margin-small"   id="addNewPurchase">Add New
              </button>
            </form>
          </td>
          <td>
            <div>
              <form class="form">

                <!-- List group -->
                <div class="list-group" id="myList" role="tablist">
                  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home"
                     role="tab">Home</a>
                  <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile"
                     role="tab">Profile</a>
                  <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
                  <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="home" role="tabpanel">xxxxxxxxxx</div>
                  <div class="tab-pane" id="profile" role="tabpanel">aaaaaaaaaaaaaaa</div>
                  <div class="tab-pane" id="messages" role="tabpanel">bbbbbbbbbbbbbbb</div>
                  <div class="tab-pane" id="settings" role="tabpanel">ccccccccccccccccccccccc</div>
                </div>
                <input type="email" placeholder=" " class="form-control mb-2 mr-sm-2" id="email">
                <span class="form-placeholder">Email address</span>
                <label for="pwd" class="mr-sm-2">Password:</label>
                <input type="password" class="form-control mb-2 mr-sm-2" id="pwd">
                <div class="form-check mb-2 mr-sm-2">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                  </label>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>

              </form>
              <!--<span class="anchor" id="formUserEdit"></span>-->
              <!--// Spliter
              <hr class="my-3">-->

              <!-- form user info -->

              <!-- /form user info -->
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--List of all purchases-->
  <div class="card store-group">
    <div class="card-body" style="text-align: center">
      <p-tabView [controlClose]="true" (onClose)="handleClose($event)">
        <p-tabPanel header="Purchase List" [selected]="true" [closable]="true">
          <p-table [columns]="selectedColumns" [value]="purchaseList" [paginator]="true" [rows]="10"
                   [resizableColumns]="true">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                              ariaLabelDesc="Activate to sort in descending order"
                              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-purchase let-columns="columns">
              <tr>
                <td pEditableColumn *ngFor="let col of columns" class="ui-resizable-column">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="text" [(ngModel)]="purchase[col.field]" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{purchase[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="caption">
              <div style="text-align:right">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                               selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                               defaultLabel="Choose Columns"></p-multiSelect>
              </div>
            </ng-template>

          </p-table>
        </p-tabPanel>
        <p-tabPanel header="Sample Table" [closable]="true">
          <table class="table table-hover">
            <thead>
            <tr class="table-danger">
              <th>Name</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" class="table-primary">Olive Oil Select Virgin</th>
              <th scope="row" class="table-primary">1</th>
              <td>2018-11-25 12:13:00</td>
              <td>$11</td>
            </tr>
            <tr>
              <th scope="row" class="table-secondary">Milk 3L Home Brand</th>
              <th scope="row">1</th>
              <td class="table-secondary">2018-11-25 12:15:00</td>
              <td>$10</td>
            </tr>
            <tr>
              <th scope="row">Mashrom</th>
              <th scope="row"> 1kg</th>
              <td class="table-success">2018-11-25 12:16:00</td>
              <td>$21</td>
            </tr>
            <tr>
              <th scope="row">Wholemeal Bread HomeBrand</th>
              <th scope="row">3</th>
              <td> 2018-11-25 12:26:00</td>
              <td class="table-warning">$3</td>
            </tr>
            <tr>
              <th scope="row" class="table-info">Tomato Sliced</th>
              <th scope="row">1</th>
              <td> 2018-11-25 12:36:00</td>
              <td>$2</td>
            </tr>
            <tr>
              <th colspan="3" scope="row" class="table-dark"> Total</th>
              <td class="table-dark">$47</td>
            </tr>
            </tbody>
          </table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

  <div class="card store-group">
    <div class="card-body">
      <div class="row text-right  ">
        <div class="col-sm-6">
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

