.top-body {
  margin-top: 60px;
  /*padding : 30px;*/
  /*direction: rtl;*/
  /*!*text-align: left;*!*/
  /*!*float: right;*!*/
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.input_table {
  width: 100%;
}

.custom-body {
  padding-left: 10px;
}

.monday-color {
  background-color: #00d7f3;
}
.monday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #00d7f3 solid 2px;
  border-radius: 5px;
}
.tuesday-color {
  background-color: #a5a7ec;
  padding: 5px 10px 5px 10px;
  border: #a5a7ec solid 2px;
  border-radius: 5px;
}


.tuesday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #a5a7ec solid 2px;
  border-radius: 5px;
}

.wednesday-color {
  background-color: #43ecce;
}

.thursday-color {
  background-color: #eb8dec;
}

.friday-color {
  background-color: #eceb06;
}

.saturday-color {
  background-color: #ffb600;
}

.sunday-color {
  background-color: #0fec00;
}

.summary p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.summary p.collapsing {
  min-height: 42px !important;
}

/*.summary a.collapsed:after  {*/
/*content: '+';*/
/*}*/
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.black-icon-color {
  color: black;
}


.col-border {
  padding-top: 10px;
  margin:0 10px 0 10px;
  border-radius: 5px;
  border: #cccecc solid 1px
}
