<div class="container-fluid  top-body">

  <div class="card store-group">
    <div class="card-body">
      <div class="row ">

        <!-- /////////        Sunday    /////////////// -->
        <div class="col col-border" >
          <div class=" btn sunday-color " style="width: 100% ">
            Sunday
          </div>
          <hr/>
          <!--<div class="row">-->
            <!--<div class="col"><hr></div>-->
            <!--<div class="col-auto">v</div>-->
            <!--<div class="col"><hr></div>-->
          <!--</div>-->
          <div *ngFor="let day of  sundayList ; let indx = index" class=" btn pur-btns  sunday-color  day-style" style="margin-bottom:10px; ">
                  <span class="summary  ">

                    <p class="collapse  day-style" id="{{'sundayCo'+indx}}">
                      <span class="font-casablanca">{{day.title}}<hr/>{{ day.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'sundayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

            <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
              class="far fa-check-circle black-icon-color"></i></a>
            <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
              class="fas fa-wrench black-icon-color"></i></a>
          </div>



          <span class="add-button" > <a  href="#add"  (click)="dayForAdd(true,'Sunday')"><i class="fas fa-plus-circle" style="color: #5AE050;"></i></a>
          </span>
          <!--<img  class="add-button " (click)="showAddEditBox(true)" src="../../assets/images/Add.svg" />-->
        </div>

        <!-- /////////        Saturday    /////////////// -->
        <div class="col col-border">
          <div class=" btn pur-btns  saturday-color " style=" width: 100% ">
            Saturday  <br/><span style="font-size: small">2018/12/12</span>
          </div>
          <hr/>
          <div *ngFor="let sat of  saturdayList ; let indx = index" class=" btn pur-btns  saturday-color  day-style" style="margin-bottom:10px; ">
                  <span class="summary  ">

                    <p class="collapse " id="{{'saturdayCo'+indx}}">
                      <span class="font-casablanca">{{sat.title}}<hr/>{{ sat.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'saturdayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

            <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
              class="far fa-check-circle black-icon-color"></i></a>
            <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
              class="fas fa-wrench black-icon-color"></i></a>
          </div>

          <span class="add-button" > <a  href="#add" (click)="dayForAdd(true,'Saturday')"><i class="fas fa-plus-circle" style="color: #ffb600;"></i></a>
          </span>
        </div>

        <!-- /////////        Friday    /////////////// -->

         <div class="col col-border">
          <div class=" btn pur-btns  friday-color " style="width: 100% ">
            Friday
          </div>
           <hr/>
           <div *ngFor="let day of  fridayList ; let indx = index" class=" btn pur-btns  friday-color  day-style" style="margin-bottom:10px; ">
                  <span class="summary  ">

                    <p class="collapse"  id="{{'fridayCo'+indx}}">
                      <span class=" day-style font-casablanca" >{{day.title}}<hr/>{{ day.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'fridayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

             <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="far fa-check-circle black-icon-color"></i></a>
             <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="fas fa-wrench black-icon-color"></i></a>
           </div>

           <span class="add-button" > <a  href="#add" (click)="dayForAdd(true,'Friday')"><i class="fas fa-plus-circle" style="color: #eceb06;"></i></a>
          </span>
        </div>


        <!-- /////////        Thursday    /////////////// -->
         <div class="col col-border">
          <div class=" btn pur-btns  thursday-color " style="width: 100% ">
            Thursday
          </div>
           <hr/>
           <div *ngFor="let day of  thursdayList ; let indx = index" class=" btn pur-btns  thursday-color  day-style" style="margin-bottom:10px; ">
                  <span class="summary  ">

                    <p class="collapse " id="{{'thursdayCo'+indx}}">
                      <span class="font-casablanca">{{day.title}}<hr/>{{ day.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'thursdayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

             <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="far fa-check-circle black-icon-color"></i></a>
             <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="fas fa-wrench black-icon-color"></i></a>
           </div>
           <span class="add-button" > <a  href="#add" (click)="dayForAdd(true,'Thursday')"><i class="fas fa-plus-circle" style="color: #eb8dec;"></i></a>
          </span>
        </div>

         <!-- /////////        Wednesday    /////////////// -->
         <div class="col col-border">
          <div class=" btn pur-btns  wednesday-color " style="width: 100% ">
            Wednesday
          </div>
           <hr/>
           <div *ngFor="let day of  wednesdayList ; let indx = index" class=" btn pur-btns  wednesday-color  day-style" style="margin-bottom:10px; ">
                  <span class="summary  ">

                    <p class="collapse " id="{{'wednesdayCo'+indx}}">
                      <span class="font-casablanca">{{day.title}}<hr/>{{ day.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'wednesdayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

             <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="far fa-check-circle black-icon-color"></i></a>
             <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="fas fa-wrench black-icon-color"></i></a>
           </div>
           <span class="add-button" > <a  href="#add" (click)="dayForAdd(true,'Wednesday')"><i class="fas fa-plus-circle" style="color: #43ecce;"></i></a>
          </span>
        </div>

         <!-- /////////        Tuesday    /////////////// -->
         <div class="col col-border">
          <div class=" btn pur-btns  tuesday-color " style="width: 100% ">
            Tuesday
          </div>
           <hr/>
           <div *ngFor="let day of  tuesdayList ; let indx = index" class=" btn pur-btns  tuesday-color  day-style" style="margin-bottom:10px; ">
                  <span class="summary  ">

                    <p class="collapse " id="{{'tuesdayCo'+indx}}">
                      <span class="font-casablanca">{{day.title}}<hr/>{{ day.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'tuesdayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

             <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="far fa-check-circle black-icon-color"></i></a>
             <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="fas fa-wrench black-icon-color"></i></a>
           </div>
           <span class="add-button" > <a  href="#add" (click)="dayForAdd(true,'Tuesday')"><i class="fas fa-plus-circle" style="color: #a5a7ec;"></i></a>
          </span>
        </div>

         <!-- /////////        Monday    /////////////// -->
         <div class="col col-border">
          <div class=" btn pur-btns  monday-color " style="width: 100% ">
            Monday
          </div>
           <hr/>
           <div *ngFor="let day of  mondayList ; let indx = index" class=" btn pur-btns  monday-color day-style" style=" margin-bottom:10px; ">
                  <span class="summary  " >

                    <p class="collapse  " id="{{'mondayCo'+indx}}">
                      <span class="font-casablanca">{{day.title}}<hr/>{{ day.description}}<hr/></span>
                    </p>

                    <a style="float: right" class="collapsed" data-toggle="collapse" href="#{{'mondayCo'+indx}}"
                       aria-expanded="false" ><i class="fa black-icon-color"></i></a>
                  </span>

             <a class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="far fa-check-circle black-icon-color"></i></a>
             <a style="float: left" class="edit" href="#edit" (click)="editEvent(model.id)"><i
               class="fas fa-wrench black-icon-color"></i></a>
           </div>
           <span class="add-button" > <a  href="#add" (click)="dayForAdd(true,'Monday')"><i class="fas fa-plus-circle" style="color: #00d7f3;"></i></a>
          </span>
        </div>

      </div>



    </div>
  </div>
  <app-add-edit-activity [actCatList]="actCatList" [shopList]="shopList" [showAddEditBox]="isShowAddEditBox" [day]="day"></app-add-edit-activity>
</div>
