<div class="container-fluid  top-body">
  <div class="card store-group">
    <div class="card-body">
      <div class="table-bordered table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th><select class="form-control" required name="time">
              <option class="ui dropdown" selected> 2-4</option>
              <option class="ui dropdown" selected> 4-8</option>
              <option class="ui dropdown" selected> 2-10</option>
              <option class="ui dropdown" selected> 2-10</option>
            </select>
            </th>
            <th>10-12</th>
            <th>8-10</th>
            <th>6-8</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <mat-form-field>
                <textarea matInput placeholder="Description" id=" " name="Description"
                          [(ngModel)]="model.description">{{model.description}}</textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <textarea matInput placeholder="Description" id="description" name="Description"
                          [(ngModel)]="model.description">{{model.description}}</textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Activity Name</mat-label>
                <input matInput>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Input the title</mat-hint>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [value]="model.startDate"
                       (dateChange)="setStartDate('change', $event)" placeholder="Choose a produce date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="submit" class="btn pur-btns margin-small" id="addNewActivity">Add New Cat</button>
  </div>
  <div class="card store-group">
    <div class="card-body">
      <div class="row text-right  ">
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-5 col-form-label">Purchased Items : </label>
                <div class="col-9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-header">
            Select the store
          </div>
          <div class="card zero-border">
            <div class="card-body">
              <div class="form-group row">
                <button type="button" class="btn pur-btns btn-info  "
                        id="intoList5">
                  VegiMarket
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
