<div class="card store-group">
  <div *ngIf="showAddEditBox" class="card store-group">
  <form class="form" (ngSubmit)="addEditActivity()">
    <div class="card-body">
      <div class="table-bordered tab  le-responsive">
        <table class="table">
          <!--
          <thead>
           <tr>

               <th>
               <select class="form-control" required name="time">
               <option class="ui dropdown" selected> 2-4</option>
               <option class="ui dropdown" selected> 4-8</option>
               <option class="ui dropdown" selected> 2-10</option>
               <option class="ui dropdown" selected> 2-10</option>
             </select>
             </th>
             <th>10-12</th>
             <th>
               <select class="form-control" required name="time">
                 <option *ngFor="let hour of getNumberArr(12); let hour = index;" class="ui dropdown" selected>{{hour}} </option>

               </select>
               <select class="form-control" required name="time">
                 <option *ngFor="let hour of getNumberArr(60); let hour = index;" class="ui dropdown" selected>{{hour}} </option>

               </select>

             </th>
             <th>

           </th>
           </tr>
           </thead>-->
          <thead>
          <tr>

            <th style="text-align: center" colspan="2">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [value]="model.startDate" name="StartDate"
                       (dateChange)="setStartDate('change', $event)" placeholder="Choose a produce date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </th>
            <th class="vertical-align " style=" text-align: center" colspan="2">


                <button *ngIf="chosenDay" [value]="model.chosenDay" class="btn {{chosenDay.toLowerCase()}}-color " style="width: 100% ">
                  {{chosenDay}}
                </button>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <mat-form-field>
                <textarea matInput placeholder="Description" id="description" name="Description"
                          [(ngModel)]="model.description">{{model.description}}</textarea>
              </mat-form-field>
            </td>


            <td style="text-align: center">


                <!--                <div *ngFor="let activityCategory of actCatList; let i = index" formArrayName="mainCats">
                                  <input type="checkbox" [formControlName]="i" *ngIf="activityCategory.isMain==='1'">
                                  <span *ngIf="activityCategory.isMain==='1'">{{activityCategory.name+i}}</span>
                                </div>
                              &lt;!&ndash;  <div *ngFor="let activityCategory of actCatList; let i = index">

                                  <mat-checkbox class="example-margin" name="checkBox{{activityCategory.categoryId}}" formArrayName="mainCats" *ngIf="activityCategory.isMain==='1'"

                                                [(value)]="activityCategory.categoryId">{{activityCategory.name}} </mat-checkbox>
                                </div>&ndash;&gt;-->
                <div>
                  <mat-form-field>
                    <mat-select placeholder="Category" required (selectionChange)="selectCats($event)"
                                [(ngModel)]="model.nfCategoryId" name="category" multiple>
                      <mat-option class="ui dropdown" *ngFor="let category of  actCatList "
                                  [(value)]="category.categoryId">{{
                        category.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-select placeholder="Shopping Id" required (selectionChange)="selectShop($event)"
                                [(ngModel)]="model.shoppingId" name="category" multiple>
                      <mat-option class="ui dropdown" *ngFor="let shop of  shopList"
                                  [(value)]="shop.id">
                        <!--<span *ngFor="let product of  shop.product">{{product.name}}</span>-->
                        {{shop.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </td>
            <td style="text-align: center">
              <mat-form-field>
                <mat-label>Activity Name</mat-label>
                <input matInput [(ngModel)]="model.name" name="Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Input the title</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="submit" class="btn pur-btns margin-small" id="addNewActivity">Add New Cat</button>

    <!--<div *ngFor="let item of activityList;">{{item.title}}</div>-->
  </form>
  </div>
</div>
