<div class="card store-group">
  <div   class="card store-group">
    <form class="form" *ngIf="showAddBox" (ngSubmit)="addActivity()">
      <div class="card-body">
        <div class="table-bordered tab  le-responsive">
          <table class="table">

            <thead>
            <tr>

              <th style="text-align: center">
                <div class="btn-group-sm">
                  <input type="button" class="btn {{day.toLowerCase()}}-color " value="Start Time" (click)="openStart()">
                  :
                  <label for="startTime"></label>
                  <input  id="startTime" (change)="changeStartTime($event)"  value="{{selectedStartTime}}">
                </div>
                <br/>
                <div class="btn-group-sm">
                  <input type="button" class="btn {{day.toLowerCase()}}-color " value="End Time" (click)="openEnd()">
                  :
                  <label for="endTime"></label>
                  <input id="endTime" (change)="changeEndTime($event)"  value="{{selectedEndTime}}">
                </div>
              </th>
              <th style="text-align: center">
                <input type="button"  [value]="model.isDone  ?'انجام شد' : 'انجام نشده'"
                       [ngClass]="model.isDone ?  (day.toLowerCase()+'-color'): day.toLowerCase()+'-outline-color'" class="font-casablanca btn pur-btns margin-small"
                       (click)="toggleIsDone()" style="width: 100% ">


              </th>
              <th style="text-align: center">
                <mat-form-field>
                  <input matInput [matDatepicker]="startDatePicker" [value]="selectedStartDate" name="StartDate"
                         (dateChange)="setStartDate('change', $event)" placeholder="Start date">
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
                <div></div>
                <mat-form-field>

                  <input matInput [matDatepicker]="endDatePicker" [value]="selectedEndDate" name="EndDate"
                         (dateChange)="setEndDate('change', $event)" placeholder="End date">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
              </th>

              <th class="vertical-align " style=" text-align: center" colspan="2">


                <button *ngIf="day" [value]="model.day" class="btn {{day.toLowerCase()}}-color "
                        style="width: 100% ">
                  {{day}}
                </button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <mat-form-field>
                <textarea matInput placeholder="Description" id="description" name="Description" [(ngModel)]="model.description"></textarea>
                </mat-form-field>
              </td>


              <td style="text-align: center">
                <div>
                  <mat-form-field>
                    <mat-select placeholder="Category" required (selectionChange)="selectCats($event)"
                                [(value)]="this.model.activityCategoryId" name="category" >
                      <mat-option class="ui dropdown" *ngFor="let category of  actCatList "
                                  [value]="category.categoryId">{{
                        category.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div [hidden]="!showPurchasedList">
                  <mat-form-field>
                    <mat-select placeholder="Shopping Title" required (selectionChange)="selectShop($event)"
                                [(value)]="this.model.purchaseId" name="category">
                      <mat-option class="ui dropdown" *ngFor="let shop of  shopList"
                                  [value]="shop.id">
                        {{shop.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td style="text-align: center">
                <mat-form-field>
                  <mat-label>Activity Title</mat-label>
                  <input matInput [(ngModel)]="model.title" name="Title">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Input the title</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button type="submit" class="btn pur-btns margin-small" id="addNewActivity">Add New Cat</button>
    </form>
  </div>
</div>
