<form class="form" (ngSubmit)="addSeller()">
  <div class="input-group input-group-sm mb-3">
    <mat-form-field>
      <input matInput placeholder="Seller Name" id="SellerName" name="SellerName" [(ngModel)]="model.name">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field >
      <input matInput type="tel" placeholder="Phone" id="Phone" name="Phone" [(ngModel)]="model.phone">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput type="email" placeholder="Email"   id="email" name="Email" [(ngModel)]="model.email">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput type="url" placeholder="Website"   id="website" name="Website" [(ngModel)]="model.website">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Address" id="address" name="Address" [(ngModel)]="model.address">
    </mat-form-field>

  </div>
  <div class="input-group input-group-sm mb-3">
    <mat-form-field>
      <textarea matInput placeholder="Seller Description" id="description" name="Description"
                [(ngModel)]="model.description">{{model.description}}</textarea>
    </mat-form-field>
    <span style="width: 10px">  </span>
  </div>
  <button type="submit" class="btn pur-btns margin-small" id="addNewSeller">Add New Cat
  </button>
</form>
