<form class="form" (ngSubmit)="addProduct()">
  <div class="input-group input-group-sm mb-3">
    <mat-form-field>
      <input matInput placeholder="New Product" id="newProduct" name="newProduct" [(ngModel)]="model.name">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <mat-select placeholder="Manufacturer"  class="dropdown-style" id="Manufacturer" required [(ngModel)]="model.manufacturerId" name="manufacturer">
          <mat-option class="ui dropdown" *ngFor="let manufacturer of manufacturerList"
                [(value)]="manufacturer.manufacturerId">{{ manufacturer.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <mat-select placeholder="Category"  required [(ngModel)]="model.categoryId" name="category" >
        <mat-option  class="ui dropdown" *ngFor="let category of categoryList" [(value)]="category.categoryId">{{
          category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [value]="model.prodDate" (dateChange)="setProdDate('change', $event)" placeholder="Choose a produce date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput [matDatepicker]="expPicker" [value]="model.expDate" (dateChange)="setExpDate('change', $event)"  placeholder="Choose a expiration date">
      <mat-datepicker-toggle matSuffix [for]="expPicker"></mat-datepicker-toggle>
      <mat-datepicker  #expPicker></mat-datepicker>
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Height" id="height" name="Height" [(ngModel)]="model.height">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Length" id="length" name="Length" [(ngModel)]="model.length">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Width" id="width" name="Width" [(ngModel)]="model.width">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Color" id="color" name="Color" [(ngModel)]="model.color">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Warranty" id="warranty" name="Warranty" [(ngModel)]="model.warranty">
    </mat-form-field>
    <span style="width: 10px">  </span>
    <mat-form-field>
      <input matInput placeholder="Weight" id="weight" name="Weight" [(ngModel)]="model.weight">
    </mat-form-field>
    <span style="width: 10px">  </span>

  </div>
  <div class="input-group input-group-sm mb-3">
  <mat-form-field>
    <textarea matInput placeholder="Description" id="description" name="Description" [(ngModel)]="model.description" >{{model.description}}</textarea>
  </mat-form-field>
  <span style="width: 10px">  </span>
</div>
  <button type="submit" class="btn pur-btns margin-small" id="addNewProduct">Add New Product
  </button>

</form>
