@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.align-center{
  margin: 0 auto;
}
.blue-snackbar {
  max-height: 150px;
  background: #bae8f3 !important;
  color: black;
  border-radius: 10px;
  max-width: 568px;
  min-width: 288px;
  padding: 14px 24px;
  transform: translateY(100%) translateY(24px);

}.blue-snackbar button {
   background-color: gray;
   color: white;
 }
.btn{
  white-space:normal !important;
  max-width:200px;
}
.add-button{
  max-width: 20px;
  min-width: 20px;
  display:block;
  margin: auto auto 10px;
}
.monday-color {
  background-color: #00d7f3;
}
.monday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #00d7f3 solid 2px;
  border-radius: 5px;
}
.tuesday-color {
  background-color: #a5a7ec;
  padding: 5px 10px 5px 10px;
  border: #a5a7ec solid 2px;
  border-radius: 5px;
}


.tuesday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #a5a7ec solid 2px;
  border-radius: 5px;
}

.wednesday-color {
  background-color: #43ecce;
}
.wednesday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #43ecce solid 2px;
  border-radius: 5px;
}
.thursday-color {
  background-color: #eb8dec;
}
.thursday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #eb8dec solid 2px;
  border-radius: 5px;
}
.friday-color {
  background-color: #eceb06;
}
.friday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #eceb06 solid 2px;
  border-radius: 5px;
}
.saturday-color {
  background-color: #ffb600;
}
.saturday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #ffb600 solid 2px;
  border-radius: 5px;
}
.sunday-color {
  background-color: #0fec00;
}
.sunday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #0fec00 solid 2px;
  border-radius: 5px;
}
.vertical-align{
  vertical-align: middle;
}
.divider{
  flex-grow:1;
  height: 1px;
  background-color: #9f9f9f;
}
.day-style{
  width: 100% ;
}
@font-face {
  font-family: 'Casablanca';

  src: url('assets/fonts/Far_Casablanca.ttf') format("opentype");
}
.font-casablanca{
  font-family: Casablanca,serif; margin: 0 auto;display: block; text-align: center
}
