@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.align-center{
  margin: 0 auto;
}
.blue-snackbar {
  max-height: 150px;
  background: #bae8f3 !important;
  color: black;
  border-radius: 10px;
  max-width: 568px;
  min-width: 288px;
  padding: 14px 24px;
  transform: translateY(100%) translateY(24px);

}.blue-snackbar button {
   background-color: gray;
   color: white;
 }
.btn{
  white-space:normal !important;
  max-width:200px;
}
.add-button{
  max-width: 20px;
  min-width: 20px;
  display:block;
  margin: auto auto 10px;
}
.monday-color {
  background-color: #00d7f3;
}
.monday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #00d7f3 solid 2px;
  border-radius: 5px;
}
.tuesday-color {
  background-color: #a5a7ec;
  padding: 5px 10px 5px 10px;
  border: #a5a7ec solid 2px;
  border-radius: 5px;
}


.tuesday-outline-color {
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  border: #a5a7ec solid 2px;
  border-radius: 5px;
}

.wednesday-color {
  background-color: #43ecce;
}

.thursday-color {
  background-color: #eb8dec;
}

.friday-color {
  background-color: #eceb06;
}

.saturday-color {
  background-color: #ffb600;
}

.sunday-color {
  background-color: #0fec00;
}
